<li>
    <span class="country-name">{{name}}</span>
    <div class="wrapper">
        <div class="date">
            <span>{{capital}}</span>
            <span>{{population}}</span>
            <span>{{#each languages}}{{name}}{{/each}}</span>
        </div>
        <img src="{{flag}}" alt="flag">
    </div>
</li>